@import "variables.scss";

body { margin:0; padding: 0; background-color:$dark-color; font-family: Montserrat, sans-serif; color:$light-color;
}
main { width: 100%; height: auto; overflow-x:hidden; }

h1 { font-size: 90px; font-weight: bold; color: $green-color; text-align: center; margin:0 0 40px; padding: 0;}
h2 { font-size:48px; line-height:58px; font-weight:700;  color: $green-color; text-align: center; margin:0 0 20px; padding: 0; }
h3 { font-size:28px; line-height:35px; font-weight: 500;  }
p { font-size:23px; line-height:28px; font-weight:400; margin:0; padding: 0; }
a, a:hover { color:inherit; text-decoration: none;}

/* Bootstrap Modal */
button.close, button.close:hover { border:none; }
.modal-content { color:$dark-color; padding: 20px 40px; }
.modal-dialog { width: 800px; max-width: 80%;}
.modal-header { border-bottom: 0px;}
.opcionFinanciamiento { border: 1px solid rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
    padding: 1.5em;
    width: 100%; }
.opcionFinanciamiento {
.price { font-size: 18px; font-weight: 700;  flex: 1.5;  text-align: center;  } 
.termlenght { font-size: 18px; font-weight: 400;  flex: 0.5; text-align: center;  }
.bank { font-size: 18px; font-weight: 400;  flex: 1.5; text-align: center; }
}

