/**
 * Este archivo contiene los colores que se usan en las fuentes y fondos del sitio. 
 */
$dark-color: #181818;
$light-color: #fff;
$green-color: #d7ff91; //Siclo Green
$background2: #f7f7f7;
$invalid: #ff6666;

$light-transparent:rgba(255,255,255,.2);
