<section id="instructores">
  <h2 class="pb-5">Instructores+</h2>

  <div *ngFor="let instructor of instructores">
    <article class="instructor">
      <div class="bgphoto">
        <img src="{{ instructor?.face_photo }}" class="facephoto" />
      </div>
      <div class="row">
        <div class="col-sm p-5">
          <div class="instructorinfo">
            <h3>
              <b>{{ instructor?.nombre }}</b>
            </h3>
            <p class="mini">
              <i>"{{ instructor.interests?.philosophy }}"</i>
            </p>
            <p class="mini">
              Fitness: <b>{{ instructor.interests?.fitness }}</b
              ><br />
              Música: <b>{{ instructor.interests?.music }}</b
              ><br />
              Actividades: <b>{{ instructor.interests?.activities }}</b
              ><br />
              Inspiración: <b>{{ instructor.interests?.inspiration }}</b
              ><br />
              Fun fact: <b>{{ instructor.interests?.surprise }}</b>
            </p>
          </div>
        </div>
        <div class="col-sm">
          <img src="{{ instructor?.full_photo }}" class="fullPhoto" />
        </div>
      </div>
    </article>
  </div>

  <ul class="paginator">
    <li *ngFor="let i of arrayPages()" [class.active]="i == currentpage">
      <a routerLink="/instructores/{{ i }}">{{ i }}</a>
    </li>
  </ul>
</section>
