@import "../../../variables.scss";

#instructores { padding-top: 80px; color:$light-color;}

.instructor { position: relative; width: 900px; max-width: 90%; overflow: hidden; margin:50px auto; clear:both; display:block;}
.fullPhoto { width: 90%; margin: 0 5%; height: auto;}
.facephoto  { height: 100%;  width: auto;}
.bgphoto { position: absolute; height: 100%; width: 100%; z-index: 0; opacity: .1; bottom:0px; left:-100px;} 
p.mini { font-size:14px;}
.instructorinfo { position: absolute; bottom: 40px; width: 90%; }
.paginator { list-style-type: none; width:800px; max-width: 80%; margin: 150px auto; padding: 0; text-align: center; }
.paginator li { display: inline-block; margin:0 20px;}
.paginator li.active a { color:$green-color; }

@media (max-width: 600px) {

    .instructorinfo { position: relative;}
    .facephoto  { width: 100%;  height: auto;}
    .p-5 { padding-bottom: 20px !important;}
    .instructor { margin-bottom: 100px;}

}