@import "../../../variables.scss";

#bisifront { padding-top:40px; background: url('../../../assets/img/bisi-hero-frontal.png'); background-size: 100% auto; background-position: center; background-repeat:no-repeat; height:calc( 100vh - 70px ); }

#price { padding-top: 40px; }

.modalButton { border: solid 2px $light-color; color: $light-color; border-radius: 0; margin:40px auto; display: block;}

