<section id="bisifront">
  <h1>biSí</h1>
</section>
<section id="price">
  <h2><a routerLink="/checkout">Desde $2,345/mes*</a></h2>
  <p align="center"><b>*Págala en 24 mensualidades</b></p>
  <button class="btn btn-lg modalButton" (click)="open(financiamientomodal)">
    OPCIONES DE FINANCIAMIENTO
  </button>

  <ng-template #financiamientomodal let-modal modal-lg>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Opciones de financiamiento biSí
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="opcionFinanciamiento">
        <span class="price">$2,345 mxn/mes</span>
        <span class="termlenght">24 meses</span>
        <span class="bank">Todos los bancos excepto BBVA</span>
      </div>
      <div class="opcionFinanciamiento">
        <span class="price">$ 2,985 mxn/mes</span>
        <span class="termlenght">18 meses</span>
        <span class="bank">Todos los bancos</span>
      </div>
      <div class="opcionFinanciamiento">
        <span class="price">$ 4,345 mxn/mes</span>
        <span class="termlenght">12 meses</span>
        <span class="bank">Todos los bancos</span>
      </div>
      <div class="opcionFinanciamiento">
        <span class="price">$ 5,665 mxn/mes</span>
        <span class="termlenght">9 meses</span>
        <span class="bank">Todos los bancos</span>
      </div>
      <div class="opcionFinanciamiento">
        <span class="price">$ 8,315 mxn/mes</span>
        <span class="termlenght">6 meses</span>
        <span class="bank">Todos los bancos</span>
      </div>
      <div class="opcionFinanciamiento">
        <span class="price">$ 16,225 mxn/mes</span>
        <span class="termlenght">3 meses</span>
        <span class="bank">Todos los bancos</span>
      </div>
    </div>
  </ng-template>
</section>
