<section id="home">
  <div class="row">
    <div class="col-sm">
      <h3><a routerLink="/bisi">Cónoce nuestra biSí</a></h3>
      <a routerLink="/bisi"
        ><img src="../../../assets/img/bisi-side-view.png" width="80%"
      /></a>
    </div>
    <div class="col-sm">
      <h3><a routerLink="/instructores/1">Cónoce nuestros instructores</a></h3>
      <a routerLink="/instructores/1"
        ><img src="../../../assets/img/trainer-alt-2.png" width="80%"
      /></a>
    </div>
  </div>
</section>
