<nav>
  <div id="site-logo">
    <a routerLink=""><img src="./assets/img/siclo-logo.svg" /></a>
  </div>
  <ul id="menu">
    <li><a routerLink="/bisi">Bísi</a></li>
    <li><a routerLink="/instructores/1">Instructores</a></li>
  </ul>
</nav>
