@import "../../../variables.scss";

ul { list-style-type: none; margin:14px 0; padding: 0;}
ul li { display: inline-block; margin: 0 20px; text-transform: uppercase; color:$light-color; font-size:18px; font-weight:400; }
ul li a { color: inherit; text-decoration:none;}

nav { padding:10px 40px; width: 100%; display: block; height: 70px; overflow: hidden; border-bottom:solid 1px $light-transparent; }
#site-logo { width:20%; float: left; display: block; height: 50px; }
#site-logo img { display: block; height:25px; margin-top: 12px; width:auto; }
#menu { width: 80%; float: left; display: block; text-align:center; }

@media (max-width: 768px) {
    
#site-logo img {  height:20px; margin-top: 15px; }
ul li { margin: 0 10px; font-size:18px; font-weight:400; }
ul { text-align: right !important; }
}