<section id="checkout">
  <h3 align="center">Datos de Pago</h3>
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm">
        <h3>Crear tu cuenta</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <input
            type="text"
            [class.is-invalid]="
              registerForm.get('nombre').invalid &&
              registerForm.get('nombre').touched
            "
            placeholder="Nombre (s)"
            formControlName="nombre"
          />

          <input
            type="text"
            [class.is-invalid]="
              registerForm.get('apellidos').invalid &&
              registerForm.get('apellidos').touched
            "
            placeholder="Apellidos"
            formControlName="apellidos"
          />

          <input
            type="text"
            [class.is-invalid]="
              registerForm.get('telefono').invalid &&
              registerForm.get('telefono').touched
            "
            placeholder="Teléfono"
            formControlName="telefono"
          />

          <input
            type="email"
            [class.is-invalid]="
              registerForm.get('correo').invalid &&
              registerForm.get('correo').touched
            "
            placeholder="Correo electrónico"
            formControlName="correo"
          />

          <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
          />
          <input
            type="password"
            placeholder="Confirma tu contraseña"
            formControlName="passwordmatch"
          />

          <button type="submit" [disabled]="!registerForm.valid">
            ENVÍENME MI BISÍ
          </button>
        </form>
      </div>
      <div class="col-sm">
        <div class="orderDetails">
          <div>
            <span class="concept">Envío</span>
            <span class="price"
              ><b>${{ costoEnvioCurrency }} MXN</b></span
            >
          </div>
          <div>
            <span class="concept">biSí</span>
            <span class="price"
              ><b>${{ costoBisiCurrency }} MXN</b></span
            >
          </div>
          <div class="pt-3">
            <span class="concept">Total</span>
            <span class="price"
              ><b>${{ costoTotalCurrency }} MXN</b></span
            >
          </div>
          <input type="hidden" readonly value="{{ costoTotal }}" />
        </div>
      </div>
    </div>
  </div>
</section>
