@import "../../../variables.scss";

#checkout { min-height: 100vh; background-color: $background2; color:$dark-color; padding-top:40px; }

form input, form input:focus { width:100%; border-width: 0 0 2px 0; border-color: $dark-color; border-style: solid; margin:10px 0; background-color: transparent; padding:10px 20px; outline: none;
}

form button { width:100%; border-width: 0; margin:10px 0; background-color: $dark-color; color:$light-color; padding:10px 20px; }
form button:disabled { opacity: .5;}
input.ng-invalid.ng-touched { background-color: $invalid; }

.orderDetails { display: flex; flex-wrap: wrap; padding: 2em 4em; background-color: $light-color; }
.orderDetails div { border-bottom: 1px solid rgba(0,0,0,.1); display: flex; justify-content: space-between; margin-bottom: 1em; width: 100%; }